$base64: 'd09GRgABAAAAAAtkAAsAAAAACxgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIGCGNtYXAAAAFoAAAAlAAAAJSuE16fZ2FzcAAAAfwAAAAIAAAACAAAABBnbHlmAAACBAAABsgAAAbIoHckn2hlYWQAAAjMAAAANgAAADYOJ1phaGhlYQAACQQAAAAkAAAAJAe2A85obXR4AAAJKAAAADQAAAA0KgAEbmxvY2EAAAlcAAAAHAAAABwEFgaMbWF4cAAACXgAAAAgAAAAIAASAVtuYW1lAAAJmAAAAaoAAAGqiaRHVXBvc3QAAAtEAAAAIAAAACAAAwAAAAMDzQGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6REDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEAHgAAAAaABAAAwAKAAEAIOFa4WbiQ+K84xPlzeiE6PTpEf/9//8AAAAAACDhWuFm4kPivOMT5c3ohOj06RH//f//AAH/4x6qHp8dwx1LHPUaPBeGFxcW+wADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAQgEBA6oCgQAWAAABNxEhNy4BIyIOAgcnPgMzMh4CAxKY/oCcLXA/OWdVPhFkFlJvh0orUUtEAeea/oCaJSsjPlYzIEJxUi8QHCkAAAAAAQBWAQEDvgKBABYAAAEyHgIXBy4DIyIGBxchERc+AwIWSoZvUhdkED9VZzk/cC2c/oCYHURLUQJVL1JxQiAzVj4jKyWaAYCaGSkcEAAAAAABAKoAAQOAA1UAHwAAATMRIREUBisBIiY1ESE1IxUUBiMhIiY9ATQ2MyEyFhUDAID+qhgSVhIYAaoqGBL+ABIaGhICABIYAwH+qv6AEhgYEgHWqioSGhoSqhIYGBIAAAABAFYAgAOqAlYANQAAEzQ3NjMhMhcWFRQHBiMhIicmNTQ3NjMhFSEiFRQzITI3NjU0JyYjISIHBhUUFxYzIRUhIicmVkREYgHARjIyMjJG/pYsICAgICwBQP68EhIBbiIaGhoaIv5APiwsLCw+AZb+amJERAFqYkVFMzNGRjIyHx8sLCAgVhUVGRkiIhoaLCw+PisrVkREAAEBAAD2AwACMgAFAAABFzcXCQEBPMTEPP8A/wACMsTEPP8AAQAAAAABANYAlgMqAuoACwAAAQcXBycHJzcnNxc3Ayru7jzu7jzu7jzu7gKu7u487u487u487u4AAgDWACoDKgMAAAMACgAANyEVIQkCMxEhEdYCVP2sAlT+1v7WqgEAgFYB1v7WASoBAP8AAAMAKgBrA9YC6wALAB8AMwAAATIWFRQGIyImNTQ2EzI+AjU0LgIjIg4CFRQeAhMyHgIXDgMjIi4CJz4DAgA0TEs1NExLNSxOOiIiOk4sLE46IiI6TixQkntdHBxde5JQUJJ7XRwcXXuSAitMNDVLSzU0TP6qITpOLSxOOiIiOk4sLU46IQIWL1V2Rkd1VS8vVXVHRnZVLwAABAAA/7cD9AOrAKIBNAFCAVgAACUWMjsBOgE/AT4BNz4BNz4BFx4BHwE+AT8BPgE3Jy4BNz4BNz4BPwE0Nj0BNCY1Jy4BJy4BJy4BNSY2PwEuAS8BLgEnBwYiJy4BJy4BLwEiJisBIgYjBw4BBw4BBw4BJy4BLwEOAQ8BDgEHFx4BBzAGBw4BBw4BDwEUBh0BFBYVFx4BFzAUMR4BFx4BBw4BDwEeAR8BHgEXNzYWFx4BFx4BHwEXIyImIy4BLwEuAScHBiInLgEvAS4BJyY0PwEuAS8BLgEnNCY9ATQ2NT4BPwE+ATcnJjY3MDY/AT4BMz4BHwE+AT8BPgE3MjY7ATIWMx4BHwEeARc3NjIXHgEfAR4BFxYUDwEeAR8BHgEXFBYdARQGFQ4BDwEOAQcXFgYHFAYPAQ4BFQYiLwEOAQ8BDgEHIgYjMREiBhUUFjMyNjU0JiMxESIuAjU0PgIzMh4CFRQOAiMxAdIIEQkGCRIHCgIQDBowFwYQBwUHBDoFDQYFBgwFLAcBBg4UBgMSDEoBAUgMEgMGEw0CAgQDBi0FDAYEBw0FOwoaChYvGQsQAgoIEQkGCRIHCgISDRkvFgcPCAQIAzoFDQcEBgwFLAcBBgEBDRQGAxIMSQEBSQwTAgYTDQQCAwEDAysFDAYEBwwGOwsbChUuGQsQAgooBh0rAQ0TAgsSIxE+ChsKASIUBBQcAQgIMAkOBU0NEwIEBAITDU8FDwkvCAEIHBQEFSEBCxoLPxEjEgsCEw0BKx0GHSsBDRMCCxIjED8KGgsBIRUEFBwBCAgwCA8FTQ0TAgQEAhMNTwUPCS8IAQgcFAQVIgsaCz8RIxILAhMNASsdOE5OODdPTzcsTTohITpNLCxNOiEhOk0sBgEBSAwSAwYTDgQCAgEEAysFCwcEBg0GOgoYChYvGQwSAgoHEgkGCREICgIQDBkwFwEFAgkTCDsGDQYEBwwFLAgHDhMHAhIMSgEBSQ0SAgYTDQQDAgEEAywFDAYFBg0FOwoXCwIBFi4ZDBABCggRCQYJEgcLARMNARkuFQgRCAMHAzkGDAcEBwsFLAgBCQ0TBgISDElPBAISDU8GDwkvCAgBHBQEFCIBChsKQBEjEgsCEg0CKx0GHCwBDRMCChIjET4LGgsiFAUUHAgBCDEJDgZNDRMBBQUBEw1PBg8JLwgIARsVBBQiAQoaCz8RIxMLARMNASwcBh0rAg0SAgsSIxE+CxoKASIUBBUbAQgIMAkOBU4NEgIEAoBPNzhPTzg3T/6lIjlOLCtOOSIiOU4rLE45IgAAAQAAAAEAAOejcyFfDzz1AAsEAAAAAADVigsBAAAAANWKCwEAAP+3A/QDqwAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAAD9AABAAAAAAAAAAAAAAAAAAAADQQAAAAAAAAAAAAAAAIAAAAEAABCBAAAVgQAAKoEAABWBAABAAQAANYEAADWBAAAKgQAAAAAAAAAAAoAFAAeAEYAbgCeAOoA/gEYATIBfgNkAAEAAAANAVkABAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAKAAAAAQAAAAAAAgAHAHsAAQAAAAAAAwAKAD8AAQAAAAAABAAKAJAAAQAAAAAABQALAB4AAQAAAAAABgAKAF0AAQAAAAAACgAaAK4AAwABBAkAAQAUAAoAAwABBAkAAgAOAIIAAwABBAkAAwAUAEkAAwABBAkABAAUAJoAAwABBAkABQAWACkAAwABBAkABgAUAGcAAwABBAkACgA0AMhTaW1kaXRvci1SAFMAaQBtAGQAaQB0AG8AcgAtAFJWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBTaW1kaXRvci1SAFMAaQBtAGQAaQB0AG8AcgAtAFJTaW1kaXRvci1SAFMAaQBtAGQAaQB0AG8AcgAtAFJSZWd1bGFyAFIAZQBnAHUAbABhAHJTaW1kaXRvci1SAFMAaQBtAGQAaQB0AG8AcgAtAFJGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA';

@font-face {
    font-family: 'Simditor-R';
    src: url(data:application/font-woff;charset=utf-8;base64,#{$base64}) format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="simditor-r-icon-"], [class*=" simditor-r-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Simditor-R' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.simditor-r-icon-attachment:before {
  content: "\e2bc";
}
.simditor-r-icon-arrow_down:before {
  content: "\e313";
}
.simditor-r-icon-download:before {
  content: "\e884";
}
.simditor-r-icon-eye:before {
  content: "\e8f4";
}
.simditor-r-icon-close:before {
  content: "\e5cd";
}
.simditor-r-icon-setting:before {
  content: "\e911";
}
.simditor-r-icon-format_paint:before {
  content: "\e243";
}
.simditor-r-icon-redo:before {
  content: "\e15a";
}
.simditor-r-icon-undo:before {
  content: "\e166";
}