$base64: 'd09GRgABAAAAABzAAAsAAAAAHHQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIGr2NtYXAAAAFoAAAA7AAAAOweVh8eZ2FzcAAAAlQAAAAIAAAACAAAABBnbHlmAAACXAAAF1gAABdYSvb+aGhlYWQAABm0AAAANgAAADYPM6RTaGhlYQAAGewAAAAkAAAAJAfCA+VobXR4AAAaEAAAAJAAAACQhgACnGxvY2EAABqgAAAASgAAAEpk+mBKbWF4cAAAGuwAAAAgAAAAIAAuALtuYW1lAAAbDAAAAZIAAAGSiP5JNnBvc3QAABygAAAAIAAAACAAAwAAAAMD8AGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6ZUDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEANAAAAAwACAABAAQAAEAIOkB6RDpEukY6SjpKuk26TjpPulD6VnpYOlr6W/pdul46XzpjemT6ZX//f//AAAAAAAg6QDpEOkS6RbpKOkq6TXpOOk+6UHpWelg6Wvpbul06XjpfOmN6ZDplf/9//8AAf/jFwQW9hb1FvIW4xbiFtgW1xbSFtAWuxa1FqsWqRalFqQWoRaRFo8WjgADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAADAA7/4gPyA8AAPABTAHoAACUGJy4BJyY1NDc+ATc2MzIXHgEXFhUUBgcGFhcWNjc+ATU0Jy4BJyYjIgcOAQcGFRQXHgEXFjc+AScuAQcTDgEHDgEnLgE1ESMRFBYXFjY3PgE3JwMnJgcOAQcGBw4BFRQXHgEXFjMyNj8BJwcOASMiJjU0Njc+AR8BNwKJjWZmhCAgHx9tSUpWVElKbSAgExMIDRIRJQkXFycnh1tbZ2lbW4cmJigooHl4oRQZAQIeE/QGGxURMREJCl4ZFy5/LBwnCVvSpispKkQYGQkCAxEROicnLAsVC7sSvAYMBjFGAQIKUTCmFEALFhVmUE9pV0pKbB4eHyBuSUpTLVcnEiUICQ4RMmo4Z1taiCcnJiWGW1trfmFhgB0cDQEeFBMaAgEGFCsXEQIRCBcMAar+ViA6FisDLh4/IBoBMSMKCQgsIiIrCxYMLCcnOhERAgMlXSYBAUYxBwwGLzUKJF0AAAUAAP/DBAADvQADAAcACwAPABMAABMhNSEDITUhEyE1IRMhNSERITUhAQP//AEBA/78AgUD9/wJxAJz/Y0Cc/2NAY5hAW1h/AZhAlRh/dFhAAAAAAUACf/ABAADtwACAAcAGAAsADsAAAElATcJAwM+ARcBHgEHAQYiJwEuATcBATI2NTQnLgEnJiMiBw4BBwYVFBYJAR4BNzY0JwEuAQcGFBcDdvycAbMGAUX+sP67AVAvDigOAZYOAQ7+eA4oDv5qDgEOAYgB+C0/EBAmEBABARESKRIRP/yhAToHFAgHB/7GBxQHBwYB/wH+TGMBUAFE/rD+vAL7DgEO/ngOKA/+aw8OAYcOKA8BlvwWRS0WLi1cIyIiI1wtLhYtRQPU/roHAQcHFAcBRwcBBwcUCAADAGT/wAOOA78AIgAnAGUAACUWBw4BBwYHJSImNRE0NjM2FhcyFhceARcWFxYUBwYHHgEXJzcVIyc3Fx4BFw4BBw4BJyImIy4BJyY2Nz4BNzY3PgEnJicuAScuASMuAQciBhURFBYzBT4BJy4BLwEFIiY1NDYzJQOOBRESRzIzPP5tPFVVPG+eLx9HKBIhDiAQEBAQHjtLBvIQCAgYGw0aDAwcEAgRCQIEAggNBQ0FEAQHAx4QEQYKCxkKFg0dLA8tnW8UHBwVAY5NYwcFRDUL/gwUHRwUAgX0OjY1VBsbBQJVPQLZPFYBAQEeHA0gESoxMGMwLykidEaeLjEDXwkFDAcPHA0GBQEBAgkHDygNAwUEGyMjTCYmIAwVCRUUAQEBHRT9JxUcAgd2TThXEgMBHBQUHQIAAAACAAD/wAQAA8AAEAAgAAATIgYVERQWMyEyNjURNCYjITUhMhYVERQGIyEiJjURNDZiFRwcFQM8FRwcFfzEAzwpOTkp/MQpOTkDjxwV/MQVHBwVAzwVHDE5KfzEKTk5KQM8KTkABAAD/8AD/QOwAA0AEwAZACgAAAkBEzYmJwEmBgc4ATEDBQcvARMBBRcFNwkBAyEyNjU0JiMhIgYVFBYzARoBt+8MBhH+mBEnDO8BvIH2xNIBaf2B9wEfrP5J/vUjA5gUHR0U/GgUHR0UAl3+wQFIEScMAQYMBhD+t+WxB44BIv76JrQJ7QFA/pD+bhwUFRwcFRQcAAMAAAB0BAADDAAQACEALwAAATY0JyYiBwkBHgE3PgEvATcBBhQXFjI3CQEuAQcOAR8BBwsBBhYXFjY3EzYmJyYGAUkODg4oD/78AQIOKA8PAg3FwwFvDg4OKA8BA/8ADSgQDwQNx8SfdwIMCgkRAncCCwoKEQKIDikODg7+/f7eDwINDigP3cL+UQ4oDg8OAQIBNA8EDQ0oD/DDAiD9mAoRAgILCgJoChECAgsAAAAAAQAAAUgEAAI4AAMAABMhFSEABAD8AAI48AAAAAMAAP/nBAADmQAOAEUAfAAAEyEyNjU0JiMhIgYVFBYzBTIXHgEXFhUUBw4BBwYjIicuAScmNTQmIyIGFRQXHgEXFjMyNz4BNzY1NCcuAScmIyIGFRQWMzUiJy4BJyY1NDc+ATc2MzIXHgEXFhUUFjMyNjU0Jy4BJyYjIgcOAQcGFRQXHgEXFjMyNjU0JiMZA84LDg4L/DILDg4LAfU8NDRNFhYWFk00NDw9NDRNFRYdFRQdHx5pRkZOTkZFaR8eHh9pRUZOFRwcFT00NE0WFRYVTTQ0PTw0NE0WFh0UFRweH2lFRk5ORkZpHh8fHmlGRU8UHR0UAagOCgoPDwoKDhgODS4dHh8gHR4tDg4ODi0eHSAUHR0UOTAwRhMUFBNGMDA5ODAwRhQTHBUUHWIODS0dHR8gHR4tDg4ODi0eHSAUHR0UOTAwRhMUFBNGMDA5ODAvRRQTHRQVHAAAAAcAAAA7BAADRQAEABUAHwAjACcAKwAvAAATESERITUhMhYVERQGIyEiJjURNDYzFSEyFh0BITU0NgMhNSEBESMRBREjESUhNSExA578YgOeFB0dFPxiFB0dFAN8FB38Ih0KA9X8KwFKMQGGMf2dA8r8NgMV/VYCqjAcFP1WFBwcFAKqFBwiHBVSUhUc/rUw/kcCl/1pAwKa/Wa/MQAAAAADAFX/wAOrA8AAEQAiAEEAAAE5ATIWHQEUBiM5ASImPQE0NgEhMhYdARQGIyEiJj0BNDYzATc0NjsBMjY1Jy4BIyIGFRcUBisBIgYdARQWMzI2NQJRJDExJCMyMv6JAjMoOTko/c0oOjooAbMBKx59MkgBAQ4KCg4BKx59M0cOCgoOAWUyJPojMjIj+iQyAls5KLUoOTkotCk5/ZU3HytHMv4KDg4K/R8rRzM3Cw4OCwAAAAADAHX/wAOLA8AADQAcACAAABMRFBYzMjY1ETQmIyIGBREUFjMyNjURNCYjIgYVASE1IXUdFBQdHRQUHQK0HRQUHR0UFB39XQLs/RQDjvxjFBwcFAOdFRwcFPxiFB0dFAOeFB0dFP4AYgAAAAADAMv/wAM1A8AAAwASACAAAAkBMwEBITI2NTQmIyEiBhUUFjMTITI2NTQmIyEiBhUUFgJN/v5eAQL+UQFCFBwcFP6+FB0dFMYBQhQdHRT+vhQcHAOR/GIDnvwvHBQVHBwVFBwDnxwVFBwcFBUcAAAABQAA/8IEAAO+AAMABwALAA8AEwAAASE1IQMhNSEDITUhASE1IREhNSEEAPwBA/8C/AID/gL8CQP3/nv9jQJz/Y0CcwGoYQFUYfwEYQJ4Yf25YQAABQAA/8AEAAPAAAMABwALAA8AEgAAEyE1IREhNSElITUhESE1IQMTBQAD/fwDA/z8BAH0Agj9+AIM/fRkBP5sA19h/ABhvGEBBGH+MgHc6gAFABP/1QPtA6sABAAUABgAKAA3AAATATcBByUWFA8BBiInASY0PwE2MhcTATcBBRYUDwEGIicBJjQ/ATYyFyUBHgE3PgEnAS4BBw4BFzUBBfP++/MCGg4O8w4oDv77Dg7zDycOggEI9/74ASoODvcOKA7++A4O9w4oDv5NAUoNKA8PAg7+tg0oDw4CDQKV/vv0AQX0EQ4oDvQODgEFDigO9A4O/VT++PcBCOYOKA73Dg4BCA4oDvcODjL+lA8CDg0oDwFsDgINDSgPAAAGAAH/wAP/A8AADgAdACwAOwBtALgAAAEhMjY1NCYjISIGFRQWMwMhMjY1NCYjISIGFRQWMwMhMjY1NCYjISIGFRQWMwEOAQcOAQcVPgE3FTM1IxMiBgcOARUzNDY3PgEzMhYXHgEVFAYHDgEHDgEHDgEVMzUjPgE3PgE3PgE1NCYnLgEjEyIGBw4BBzM+ATc+ATMyFhceARUUBgcOASsBFTMyFhceARUUBgcOASMiJicuAScjHgEXHgEzMjY3PgE1NCYnLgEnPgE1NCYnLgEjAVMCexQdHRT9hRQdHRQJAoQUHR0U/XwUHBwUAgKGFB0dFP16FBwcFP7xBQ0ICA8HDxgJIBgUERsKCgogBgUFDwoJDgUFBQgHBA8KEhgFCwqQaQQUEQ8WBgoKCQoJGQ8BDxkKCgwBHwEHBQUPCgkOBQQFBQUFDgoPDwsPBgUGBQYGEAoJDwYHBgEgAQ0LCRoQERsLCgoGBQUOCRESCgkKGRADKBwUFRwcFRQc/NMcFRQcHBQVHAGUHRQUHR0UFB0CMQYKBQQGAiAFDQmr0f5sCwsLHBEMFAYHBwUEBQ0JCREIBAwIDBMHDBsQHQgUCwsQBwsZDQ4WCQkI/m0ICQkYEAoOBQUFBAUEDAgHDQQEBBgFBAUNCQgNBQYGBQUGEAsSGgoICAoJCRgOCRAGBQkDBhcRDRUICAcABAAAADsEAANFABAAIAAwAD0AABMiBhURFBYzITI2NRE0JiMhNSEyFhURFAYjISImNRE0NhMhESYHDgEHBgcwJiMiBgcTFAYjIiY1NDYzMhYVYhUcHBUDPBUcHBX8xAM8KTk5KfzEKTk5NQMUUUNDaSYlF2NNPGElxTIjIzIyIyMyAxUdFP24FB0dFAJIFB0wOSj9uCg5OSgCSCg5/XgBjgkMDEI2NkxRa2sBiCMyMiMkMjIkAAAAAAQAB//AA/kDrwAPACAAPwBeAAATMzIWHQEUBisBIiY9ATQ2BTMyFh0BFAYrASImPQE0NjMBEzQ3PgE3Nj8BNiYnJgYPAQYHDgEHBhUDFBYzMjY1BRM0Nz4BNzY/ATYmJyYGDwEGBw4BBwYVAxQWMzI2NWfnKDg4KOcoODgCc+coODgo5yg4OCj9tQENDTIlJTABDQQPDygNAjUoKTgODwEcFBQcAksBDQ0xJCQvBQ0EEA8oDQQ1KCg3Dg4BHBQUHAFyOCjrKDk5KOsoOAY5KOsoODgo6yg5/s8BCktJSotBQDoCECcNDQQPA0BISJpSUVT+9hQcHBQGAQ1KSUiKQUA6Bg8oDA0EEAZAR0iZUVBT/vMUHBwUAAACAAAAWAPnAxcAGwAyAAABISIHDgEHBhUUBiMiJjU0Nz4BNzYzITIWFRQGJS4BNz4BFwUeAQcOAQcFBiYnJjY/AScDlf4WRDw8WhoaHRQUHCIhdE5OWAHqFBwc/usQBAwMKBABCxgHEwIEA/70DygNDQIP9vQB0xoaWT08RBQdHRRYTk50IiEcFBQd+A0nEBAFDdITPBcDBQLsDQIPDygO2cAAAAMAAADoBAACmAAkAEkAVwAAASMiBw4BBwYVFBceARcWOwEyNjU0JisBIiY1NDY7ATI2NTQmIwEzMjc+ATc2NTQnLgEnJisBIgYVFBY7ATIWFRQGKwEiBhUUFjMlITI2NTQmIyEiBhUUFgFwmC0nKDoREREROignLZgUHR0UmDFERDGYFB0dFAErjS0nKDoREREROignLY0UHR0UjTFERDGNFB0dFP6YAasVHR0V/lUVHR0CmBEROycnLS0nJzsRER0VFB1FMDBFHRQVHf5QERE7JyctLScnOxERHRUUHUUwMEUdFBUdpR0VFB0dFBUdAAIAGQBWBAADGgAcADMAABMhMhceARcWFRQWMzI2NTQnLgEnJiMhIgYVFBYzJT4BJy4BBwUOARceARcFFjY3NiYvATdqAepFPDxaGhocFRQcIiF0Tk5Z/hYUHBwUAQIQBQ0MKBD+9RgHEwIEAwEMDygODQMP9vQB0RoaWjw8RRQcHBRZTk50ISIdFBQc/QwoEBAEDNMTOxgDBAPsDQIPECgN2cEABQAA/8IEAAO+AAMABwALAA8AEwAAEyE1IQMhNSETITUhASE1IQMhNSEBA//8AQED/vwCBQP3/AkBhwJz/Y0CAnP9jQGoYQFUYfwEYQJ4Yf25YQAABQAA/8AEAAPAAAMABwALAA8AEgAAEyE1IREhNSElITUhESE1ISUDJQAD/fwDA/z8BAH0Agj9+AIM/fT+EAQBlANfYfwAYbxhAQRhDv4k6gAIAAD/wwQAA70AAwAHAAsADwATABYAGQAdAAABITUhAyE1IRMhNSETITUhAyE1IQMHIQMnIQMRMxEBngJe/aIDAmT9nAEBYP6gAQJj/Z0BAl/9of+dATqdnQE6zGEBj2IBVmH8OGECPGH9xGECuqT8qqQC2PzxAw8AAAAAAwAA/8AEAAPAABAAIQAxAAATJgYHBhYXCQE2JicmBgcBJwMiBhURFBYzITI2NRE0JiMhNSEyFhURFAYjISImNRE0NrIPKA0OAw8BNgHqDQEPDykN/lfvUBUcHBUDPBUcHBX8xAM8KTk5KfzEKTk5Ae4NAw8PKQ3+8gIVDygODgIP/jHQAaEcFfzEFRwcFQM8FRwxOSn8xCk5OSkDPCk5AAkAAf/AA/8DwAAbACcALQAxAD8ATgBcAG8AgAAABSInLgEnJjU0Nz4BNzYzMhceARcWFRQHDgEHBicyNjU0JiMiBhUUFhMjFRc3JwEhNSElMzI2NTQmKwEiBhUUFgc1NCYjIgYdARQWMzI2NQU1NCYjIgYdARQWMzI2AREzMjY1NCYrAREhMjY1NCYjIQEUFjMyNjURIyIGFRQWOwEVAwM0LS5DFBQUFEMuLTQ0LS5DFBMTFEMuLTQ/WVk/P1lZTzB7C1b9PgOu/FIBa4kUHR0UiRQdHVUdFBQcHBQUHQGuHBQUHR0UFBz9YS0UHR0UjgG5FBwcFP6oAzsdFBQdnhUcHBU8QBQURS4uNDUuLkUUFBQURS4uNTQuLkUUFGFcQEFcXEFAXAEPpR4vFQFdYY8dFBQdHRQUHTrJFB0dFMkUHBwUAcwUHR0UzBQdHf10AtscFRQc/GMdFBQcAhsUHR0UASAdFBQcvwAAAAACACb/xgPaA8AAEAAUAAAJAR4BNz4BJwkBBhYXFjY3AQEhNQUCAQGsBRMJCQcE/if+JQQHCQkTBAGv/ucCLv3SA0/8ggkHBQQTCQPa/CYJEwQFBwkDfv31MQEAAAIALv/LA9IDsAAWACQAAAkBHgE3PgEnAS4BBw4BBwEGFhcWNjcBAyEyNjU0JiMhIgYVFBYCAAF7CCUSEg4I/nAMOBsMEgb+bwgOEhIlCAF72wGzFBwcFP5NExwcAzT8rxIOCAglEgOCGxUMBRMM/IISJQgIDhIDTf5hHBMUHBwUExwAAAIAAP/CBAADvgAOADsAABchMjY1NCYjISIGFRQWMwERFAcOAQcGIyInLgEnJjURNCYjIgYVERQXHgEXFjMyNz4BNzY1ETQmIyIGFTEDnhQdHRT8YhQdHRQC2hUVSTEwNzYxMEkWFRwVFBwcHWNCQkxMQ0JjHB0dFBQdPh0UFB0dFBQdA8v+kUE4OVUYGBgYVTk4QQFvFB0dFP6RVEpLbyEgICFvS0pUAW8UHR0UAAAABgAA/94EAAOiAA0AHAAqADYAQgBOAAABITI2NTQmIyEiBhUUFhMhMjY1NCYjISIGFRQWMwMhMjY1NCYjISIGFRQWAzI2NTQmIyIGFRQWEzI2NTQmIyIGFRQWEzI2NTQmIyIGFRQWAVICfRQdHRT9gxQcHAwChRQdHRT9exQdHRQCAocUHR0U/XkUHR3rHysrHx4rKx4fKysfHisrHh8rKx8eKysDIh0UFRwcFRQd/NIdFBQdHRQUHQGVHRQUHR0UFB0BgywfHywsHx8s/mIsHx8sLB8fLP5wLB8fLCwfHywAAAAAAQAAAK8EAALRAEsAAAEFIgYVFDAVHgEzITI3PgE3NjU0Jy4BJyYjISIHDgEHBhUUFx4BFxYzITI2NTQmIyEiJjU0NjMhMhYVFAYjISImNTQ2MyUyNjU0JiMCzP42MUQCRjECNSkkIzYPEBAPNiMkKf3WOTIxShYVFRZKMjE5AckUHR0U/jdJZmZJAiopOjop/csJDgsJAcoUHB0UAjgERTEBATFFEA82JCQoKSQkNg8QFhVKMjE5ODIyShUWHRQUHWZJSWY6Kik6DQoIDAMdFBUcAAABAAAAAQAANzhsjV8PPPUACwQAAAAAANYKL+sAAAAA1gov6wAA/8AEAAPAAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAkBAAAAAAAAAAAAAAAAgAAAAQAAA4EAAAABAAACQQAAGQEAAAABAAAAwQAAAAEAAAABAAAAAQAAAAEAABVBAAAdQQAAMsEAAAABAAAAAQAABMEAAABBAAAAAQAAAcEAAAABAAAAAQAABkEAAAABAAAAAQAAAAEAAAABAAAAQQAACYEAAAuBAAAAAQAAAAEAAAAAAAAAAAKABQAHgDWAQABbgIKAjwChgLeAuwDmgPqBEQEegSyBNwFBAVqBm4GygdWB6gIIAhyCJwIxAkCCVIKCAo2CngK0AtCC6wAAAABAAAAJAC5AAkAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEACAAAAAEAAAAAAAIABwBpAAEAAAAAAAMACAA5AAEAAAAAAAQACAB+AAEAAAAAAAUACwAYAAEAAAAAAAYACABRAAEAAAAAAAoAGgCWAAMAAQQJAAEAEAAIAAMAAQQJAAIADgBwAAMAAQQJAAMAEABBAAMAAQQJAAQAEACGAAMAAQQJAAUAFgAjAAMAAQQJAAYAEABZAAMAAQQJAAoANACwU2ltZGl0b3IAUwBpAG0AZABpAHQAbwByVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwU2ltZGl0b3IAUwBpAG0AZABpAHQAbwByU2ltZGl0b3IAUwBpAG0AZABpAHQAbwByUmVndWxhcgBSAGUAZwB1AGwAYQByU2ltZGl0b3IAUwBpAG0AZABpAHQAbwByRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==';
@font-face {
  font-family: 'Simditor';
  src: url(data:application/font-woff;charset=utf-8;base64,#{$base64}) format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="simditor-icon-"], [class*=" simditor-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Simditor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.simditor-icon-undo:before {
  content: "\e974";
}
.simditor-icon-redo:before {
  content: "\e96e";
}
.simditor-icon-format-clear:before {
  content: "\e917";
}
.simditor-icon-format-paint:before {
  content: "\e936";
}
.simditor-icon-headline:before {
  content: "\e938";
}
.simditor-icon-type-size:before {
  content: "\e991";
}
.simditor-icon-bold:before {
  content: "\e912";
}
.simditor-icon-underline:before {
  content: "\e992";
}
.simditor-icon-italic:before {
  content: "\e93e";
}
.simditor-icon-delete-line-text:before {
  content: "\e92a";
}
.simditor-icon-type-color:before {
  content: "\e990";
}
.simditor-icon-background-color:before {
  content: "\e910";
}
.simditor-icon-table:before {
  content: "\e935";
}
.simditor-icon-picture:before {
  content: "\e960";
}
.simditor-icon-attach:before {
  content: "\e995";
}
.simditor-icon-cut-off-rule:before {
  content: "\e928";
}
.simditor-icon-link:before {
  content: "\e943";
}
.simditor-icon-ordered-list:before {
  content: "\e959";
}
.simditor-icon-unordered-list:before {
  content: "\e993";
}
.simditor-icon-code:before {
  content: "\e918";
}
.simditor-icon-quote:before {
  content: "\e96b";
}
.simditor-icon-align-center:before {
  content: "\e901";
}
.simditor-icon-align-right:before {
  content: "\e975";
}
.simditor-icon-align-left:before {
  content: "\e941";
}
.simditor-icon-right-retraction:before {
  content: "\e976";
}
.simditor-icon-left-retraction:before {
  content: "\e942";
}
.simditor-icon-line-height:before {
  content: "\e978";
}
.simditor-icon-time-stamp:before {
  content: "\e98d";
}
.simditor-icon-at:before {
  content: "\e900";
}
.simditor-icon-relevance:before {
  content: "\e96f";
}
.simditor-icon-check-box:before {
  content: "\e916";
}
.simditor-icon-seleced-mult:before {
  content: "\e97c";
}
