$base64: 'd09GRgABAAAAABpkAAsAAAAAGhgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIGjmNtYXAAAAFoAAAA1AAAANRh0R32Z2FzcAAAAjwAAAAIAAAACAAAABBnbHlmAAACRAAAFRQAABUU2vIol2hlYWQAABdYAAAANgAAADYPdSQXaGhlYQAAF5AAAAAkAAAAJAfDA9BobXR4AAAXtAAAAJAAAACQhgoC7GxvY2EAABhEAAAASgAAAEpdyFc+bWF4cAAAGJAAAAAgAAAAIAAuALpuYW1lAAAYsAAAAZIAAAGSiP5JNnBvc3QAABpEAAAAIAAAACAAAwAAAAMD8AGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6XQDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEALgAAAAqACAABAAKAAEAIOkF6RTpF+ka6SDpK+kt6THpNelD6UjpUelV6VvpXelh6XT//f//AAAAAAAg6QXpEukW6RnpH+kq6S3pMekz6UPpSOlR6VTpWeld6WHpcP/9//8AAf/jFv8W8xbyFvEW7RbkFuMW4BbfFtIWzhbGFsQWwRbAFr0WrwADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAF//7/wAQCA8AAAwAHAAsADwATAAADITUhESE1IREhNSETITUhESE1IQIEBPv8BAT7/AQE+/ySAxb86gMW/OoBm0oBkkn8AEkCgEn93EkAAAP//v/CBAIDwAAyAEkAcAAAJQYnLgEnJjU0Nz4BNzYzMhceARcWFRQGBxc+ATU0Jy4BJyYjIgcOAQcGFRQXHgEXFjcnAQ4BBwYmJy4BNREjERQWFx4BNz4BNycDJyYHDgEHBgcGFBUUFx4BFxYzOgE/AScHBiIjIiY1PAE1PgEfATcCkphub5EiIyIhd1FQXltRUHgjIhUUQhgYKCiMXl1rbV5eiignKSmmfX2oBgEJAy0nJEILAgJJBAMUd0EyPA057aMwKyxFFRYEARESPSkpLwcNB6QIpQQKBD9ZBmVCowYLDBgYcFZXcl9RUXUiISMjd1FQWzJeKx8ybjpqXl6LKSgnJ4lfXm6CZWSEHR0NSQEDBBMMCiMkBg0HAWr+lgwYC0FAExAbEC4Bkg4EDg85KSkwBQkFLykpPhESARRJFAFZQAMHA0JVBg5JAAAAAAQAFP/GA/oDrAAUABgAKQA4AAAFMjY1NCcuAScmIyIHDgEHBhUUFjMBIQkBJRYUBwEGIicBJjQ3ATYyFwEJARYyNzY0JwEmIgcGFBcDaD1VFRY0FhYBARgYOBgXVT38+gKg/rD+sALuCgr+fAseC/58CwsBhAseCwGE/NkBJQseCwoK/tsKHwsKCjpbOx08PXktLi4teT08HTtbAkgBUP6wGgseC/58CgoBhAseCwGECwv+fAE7/tsKCgseCwElCgoLHwoAAAAAAwBl/70DiQPDACIAKgBvAAAlFgcOAQcGByUuATURNDY3OgEXHgEXHgEXFhcWBgcGBx4BFy8BNxUjJiIxNx8BHgEXDgEHDgEjIiYjLgEnJjY3PgE3Njc+AScmJy4BJy4BJyImByIGFREUFjMFNjc+ATc2Jy4BJyImIwUiJjU0NjMlA4kHEBFDMjE7/o1La2tLYYwrHkUoEiENIhAPAhMSIjxPCN0DCgUBAQcKAw4bDQoWDQULBgMFAwUJBAkDDAMGAyEUEwgMCxwLGA4gMRIqi2EtQEAuAW4rIyQyCwwFB005AQMB/fgQFRUPAg71OjU2VBwcBwEBa0sCl0trAQEBHR0MHxIrMjJmMDEoIHJFpwEjJQFJAgEECwcLFgkEBAECBgUMHgkDBAMdJyhUKiokDhcKFhYBAQFALf1pLUACBRQVPycoKj1eEwEBFQ8PFgIAAgAA/8AEAAPAAAQAFQAAExEhESE1ITIWFREUBiMhIiY1ETQ2M0kDbvySA24eKyse/JIeKyseA3f8kgNuSSse/JIeKyseA24eKwAAAAQAAP/KBAADngANABMAGQAdAAAJATc2JiclJgYHOAExBxcFBy8BNwENATcJAQMhNSEBSAHHshIKGP6wGTwSshYBUGnntLT+5gEAASWr/jr+9kQEAPwAApn+tfYYPBL0EgkZ9V/0kAuC9/75ug7rAUr+k/6XSQAAAAMADwB9A/EDAwAQACEALwAAAT4BJy4BBwUBFjI3NjQvATcFLgE3PgEXBQEGIicmND8BJycDBhYXFjY3EzYmJyYGAUsLAgoKHgz+9QEKCh8KCwvS0QFZDAMKCR4MAR/+5AseCwsL4+CdbwMRDw8ZA24DEQ8OGQJ/Ch4MCwIK7f73CwsLHgvSuQEKHgwLAwnt/uUKCwofCuK5aP3CDxkDAhEOAj4PGQMCEQAAAAACAJUAPANrAzsAGwAeAAABIQMOAScuATcTPgE3Ez4BNzYWFwEWBgcGJicDJwsBApL+3JcGHA4NCwadAQQChgUTDBs4DAEpBgsODRwGlyBycgGq/qgNCwYGHQ0BZQUIBAEwDRMFDRYc/VcOHAcGCw4BW0oBBP78AAABAAEBiQP/AfcABAAAEyEVITUBA/78AgH3bm4AA//+/8UEAgO7ADYAbQBxAAABMhceARcWFRQHDgEHBiMiJy4BJyY1NCYjIgYVFBceARcWMzI3PgE3NjU0Jy4BJyYjIgYVFBYzNSInLgEnJjU0Nz4BNzYzMhceARcWFRQWMzI2NTQnLgEnJiMiBw4BBwYVFBceARcWMzI2NTQmIwUhNSEB+UY9PVsZGhoZWz09RkY9PVsaGRYPDxYhIG9KS1NTS0pvICEhIG9KS1MPFhYPRz09WhoZGRpbPT1GRj09WxkaFg8PFiEgb0pLU1RKSm8gISEgb0pKVA8WFg/+BQQE+/wBnRARNyQkJygkJDcQEREQNyQkKA8VFQ86MjJJFRUVFUkyMjo6MTJJFRUVEA8VSRAQNiMkJygkJDcQEREQNyQkKA8VFQ86MjJJFRUVFUkyMjo6MTFIFRQVDxAVR0kAAAAABAAAAFIEAAMuABUAJgBCAEYAABMwFRwBFRQVITQ1PAE1NDEiIyoBIyI3ITIWFREUBiMhIiY1ETQ2MwEhFSM1IzUzNSM1MzUzFSE1MxUhFSEVIRUhFSM9ASEVSQNu3KSl2zc3JQMkLkArHvySHitALgIA/wBJ3Nzc3EkBAEkBAP8AAQD/AEn/AAKbICCAYGCAgGBggCAgk0Et/dseKyseAiUtQf3bbm5Jk0ltbW1tSZNJbreTkwAAAAMAW//AA6UDwAAeADEAQgAAATQ2OwEyNjUwJjUuASMiBhUXFAYrASIGFRQWMzI2NSc5ATIWFREUBiM5ASImNRE0NjMBITIWHQEUBiMhIiY9ATQ2MwISNiWBS2wBARUPDxYBQC2BRGAWDw8VJB4rKx4fKiof/rcCSR4rKx79tx8rKx8BTyY1a0xnZg8VFQ/NLUFgRA8WFg8WKx7+7R4rKx4BEx4rAlsrHuUfKiof5R4rAAAAAAEAbv/AA5IDwAAgAAATETQmIyIGFREUFjMyNjURIREUFjMyNjURNCYjIgYVESG3Fg8PFRUPDxYCkhYPDxUVDw8W/W4B5QG2EBUVEPxKEBUVEAG2/koQFRUQA7YQFRUQ/koAAAABAL7/vgNCA8IAIwAAJSMiBhUUFjsBFzczMjY1NCYrARMzMjY1NCYjISIGFRQWOwEDAXCNEBUVELgMAYcPFRUPc+x1EBUVEP60DxUVD4vsCxYPDxUEBBUPDxYDbhUPDxYWDw8V/JIAAAX//v/ABAIDwAADAAcACwAPABMAAAMhNSERITUhESE1IREhNSERITUhAgQE+/wEBPv8BAT7/ALB/T8Cwf0/AZtKAZJJ/ABJAoBJ/dxJAAAABf/+/8AEAgPAAAMABwALAA8AEgAAAyE1IREhNSElITUhESE1ISMTJQIEBPv8BAT7/AG3Akn9twJJ/bdNBP6SA3dJ/ABJ3EkBJEn+SNkAAAAFACL/4gPeA54ABAAVABkAKgAuAAABBxc3JzcXFhQPAQYiLwEmND8BNjIXAQcXNwMXFhQPAQYiLwEmND8BNjIXJQE3AQElz8/OzjPPFhbPFT0VzxUVzxU9FQGDzs7Pm88VFc8VPRXPFhbPFT0V/isBWDT+qANqz87OzzTPFT0VzxYWzxU9Fc8VFf4Vzs/PAQLPFT0VzxUVzxU9Fc8WFmv+qDQBWAAAAAAG//7/wAQCA8AADgAdACwAOgBsALcAAAEhMjY1NCYjISIGFRQWMxEhMjY1NCYjISIGFRQWMxEhMjY1NCYjISIGFRQWMwMOAQcOAQcVPgE3FTM1AyIGBw4BFTM+ATc+ATMyFhceARUUBgcOAQcOAQcOARUzNSM+ATc+ATc+ATU0JicuASMDIgYHDgEHMz4BNz4BMzIWFx4BFRQGBw4BKwEVMzIWFx4BFRQGBw4BIyImJy4BNSMeARceATMyNjc+ATU0JicuASc+ATU0JicuASMBMQKpDxYWD/1XDxYWDwKtDxUVD/1TDxYWDwKsDxUVD/1UDxYWD/kFDggJDwcPGQoiCBEbCwoKIAEFBgUPCgkPBQUFCAcEEAoSGAYLCpJqAxUREBYGCgsKCgkaDwEPGAoKCwEeAQYFBQ8JCQ4FBAQFBAUOCQ8PCg8FBgUFBQYQCgkOBgYHHwEMCwkZEBAaCwkKBQUFDggQEQkJCRkPAy4VDw8WFg8PFfzbFg8PFRUPDxYBkhYPDxYWDw8WAiUGCwUEBwIhBA4Ks9v+bgwLCx0SDRMHBwcFBAUNCQoRCAUMCA0TBw0cEB0JFAwLEQcLGQ8OFwkJCf5tCAkJGBAKDgUFBQQFBAwICAwEBQQYBQQFDQoIDQUGBgYFBhALEhsJCQgKCQkYDwkQBgUJAwYXEQ4VCAgHAAAEAAAAOwQAA0UABAAVACUAMgAAExEhESE1ITIWFREUBiMhIiY1ETQ2MxMhESYHDgEHBgcwJiMiBgcTFAYjIiY1NDYzMhYVSQNu/JIDbh4rKx78kh4rKx4lAyRTREVqJyYYZE89YybFMiMjMjIjIzIC/P2IAnhJKx79iB4rKx4CeB4r/V0BsAoNDUc7O1JYdXQBoyMyMiMkMjIkAAACAAT/3wQDA5MAKQBMAAATBhQVERQWMzEhMjY1ETQmIyE4ATE2Nz4BNzY3NiYnJgYHBgcOAQcGHwElITIWFREUBiMhIiY9AScmNz4BNzY3PgEXHgEHBgcOAQcGBwUBKx4BCB4rKx7++AENDjIkJC8KAQsLHgs3KSo3DQ0DAQKvAQYfKiof/vkeKwECDQ03Kio2Cx4LCwEKKyMiMg8PBAE4AgQD/vkeKyseAQcfK0NCQnw5OTILHgoLAQw6RESTTk9QF0ErH/75HisrHvcOUE5Pk0REOgsBCgoeDC41NXM9PT8AAAAB//sAZwPsAwwALAAAASEiBw4BBwYVFAYjIiY1NDc+ATc2MyEnLgE3PgEXBR4BBw4BBwUGJicmNj8BA4n+FEc/P10cGxUPDxYhIXFMTFcB5tIMAwkKHgsBAhcHEgIFAv79Cx8KCgIM2QHkGxtdPz9HDxYWD1ZMTHIgIaYJHgwMBArKEzwYAgUC5AoCCwsfCr8AAAAAAwANAPID8wKOABoANQA5AAABIyIHDgEHBhUUFx4BFxY7ATUjIiY1NDY7ATUhMzIXHgEXFhUUBw4BBwYrATUzMjY1NCYrATUFITUhAXWaKyUmOBAQEBA4JiUrmpo3Tk43mgEhjyslJjgQEBAQOCYlK4+PN05ON4/+rQGz/k0CjhARNyYlKyslJjcREElONzdOSRARNyYlKyslJjcREElONzdOSfRJAAAAAQAVAGMEBQMQACwAABMhMhceARcWFRQGIyImNTQnLgEnJiMhFx4BBw4BJyUuAScmNjclNhYXFgYPAX4B4VdNTXIiIRYPEBUcG15AP0j+GdwLAgoKHgz++wMEAhMHGAEEDB4JCgQM1AIuISFyTU1YDxYWD0k/P18bHMIKHwsMAgrnAgUCGD0TzQkDDAwfCagABf/r/8AEFQPAAAMABwALAA8AEwAAAyE1IRMhNSERITUhASE1IREhNSEVBCr71gEEKfvXBCn71wFJAsH9PwLB/T8Bm0oBkkn8AEkCgEn93EkAAAAABf/+/8AEAgPAAAMABwALAA8AEgAAAyE1IREhNSElITUhNSE1ISUDJQIEBPv8BAT7/AG3Akn9twJJ/bf+TAMBbgN3SfwASfRJ9EkY/kjZAAAGAAD/wAQAA8AAAwAHAAsADwATAB4AAAEhNSERITUhESE1IREhNSERITUhAzMnBzMRIxc3IxEBbgKS/W4Ckv1uAW3+kwKS/W4Ckv1ut26Tkm5ukpNuAXdJAZJJ/EpJAiRJ/gBKAkGamv00mpoCzAAAAwAA/8AEAAPAAAQAFQAmAAATESERITUhMhYVERQGIyEiJjURNDYzEy4BBw4BFxMBNjQnJiIHASdJA278kgNuHisrHvySHisrHmQKHgsLAgr3Ah8LCgofC/4YxQN3/JIDbkkrHvySHisrHgNuHiv9/gsCCgofC/7uAgYKHwsLCv4u2gAACQAA/8AEAAPAAAMABwALAA8AFwAdADkARQBLAAATITUhJTM1IwcRIxEhESMRJTM1IxEhNSEBETMRIxUDIicuAScmNTQ3PgE3NjMyFx4BFxYVFAcOAQcGJzI2NTQmIyIGFRQWEyMVFzcnSQNu/JIBSdzcSUkCAEn9kmqzAgL+RwNuSbdJNS8uRhQUFBRGLi81NS8uRhQUFBRGLi81SmlpSkppaW9KiRFQAglJt0nSAUD+wAFA/sCJSfxuSQMA/wABSUn8txQURi8uNTUvLkYUFBQURi4vNTUuL0YUFE1pSkpqakpKaQEhsSFHEwACACj/yQPYA64AHQAgAAABDgEjISImJwMOAScuATcBPgE3NhYXARYGBwYmJwMnCwECyAMFA/6GAwYDzAccDg4KBgGWBRMNGzkMAZUGCg4OHAfNH6mpAaoBAQEC/jYOCwYGHQ0Diw0TBQ0WHPxxDhwHBgsOAc5HAXr+hgAAAgAA/8AEAAPAAC8APgAAAQYHDgEHBgcGJy4BJyYnETQmIyIGFREWFx4BFxY3Njc+ATc2PwIDNCYjIgYVEwcBITI2NTQmIyEiBhUUFjMDBwsWFjwlJSk4NTVTHBwHFQ8PFQkjI2pDQkc0Ly5MHBwODQEEFQ8PFQQM/RsDvA4UFA78RA4UFA4BeSgiIzQQEQYHDxBBLzA5AfcQFRUQ/gRKPD1UExMJBxUVQisrMy4LAf4PFRYP/gcp/kcVDxAVFRAPFQAAAAb//wAbBAEDZQADAAcACwAYACUAMgAAASE1IREhNSERITUhAzI2NTQmIyIGFRQWMxEyNjU0JiMiBhUUFjMRMjY1NCYjIgYVFBYzAQ0C8v0OAvT9DAL0/QzYFyAgFxYgIBYXICAXFiAgFhcgIBcWICAWAwlJ/NxJASRKARIgFxYhIRYXIP6SIBcXICAXFyD+kiEWFyAgFxYhAAAAAAEAAADlBAACmwA5AAABBQ4BFTAUFR4BMyEyNjU0JiMhIgcOAQcGFRQXHgEXFjMhNSEiJjU0NjMhMhYVFAYjISImJzQ2MyUnAtH+MC9BAUQvAlZEYWFE/YkvKik+EhISEj4pKi8B+/4FQFpaQAJ3JjU1Jv2qERgBFhAB0QECPQMBQC0BAS0/XUFCXRERPCgoLS0oKDwREUdXPT1XMyUkMxcQEBYERwAAAAEAAAABAACeFz/tXw889QALBAAAAAAA1irvzQAAAADWKu/N/+v/vQQVA8MAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAD/6//rBBUAAQAAAAAAAAAAAAAAAAAAACQEAAAAAAAAAAAAAAACAAAABAD//gQA//4EAAAUBAAAZQQAAAAEAAAABAAADwQAAJUEAAABBAD//gQAAAAEAABbBAAAbgQAAL4EAP/+BAD//gQAACIEAP/+BAAAAAQAAAQEAP/7BAAADQQAABUEAP/rBAD//gQAAAAEAAAABAAAAAQAACgEAAAABAD//wQAAAAAAAAAAAoAFAAeAEYA7gFSAfoCIAJcArIC7gL8A54D+gRUBIYEugTiBQoFXgZgBq4HIAdqB74IBggwCFgIkAjSCUgJhgnoCjYKigAAAAEAAAAkALgACQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAIAAAAAQAAAAAAAgAHAGkAAQAAAAAAAwAIADkAAQAAAAAABAAIAH4AAQAAAAAABQALABgAAQAAAAAABgAIAFEAAQAAAAAACgAaAJYAAwABBAkAAQAQAAgAAwABBAkAAgAOAHAAAwABBAkAAwAQAEEAAwABBAkABAAQAIYAAwABBAkABQAWACMAAwABBAkABgAQAFkAAwABBAkACgA0ALBTaW1kaXRvcgBTAGkAbQBkAGkAdABvAHJWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBTaW1kaXRvcgBTAGkAbQBkAGkAdABvAHJTaW1kaXRvcgBTAGkAbQBkAGkAdABvAHJSZWd1bGFyAFIAZQBnAHUAbABhAHJTaW1kaXRvcgBTAGkAbQBkAGkAdABvAHJGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA';
@font-face {
  font-family: 'Simditor';
  src: url(data:application/font-woff;charset=utf-8;base64,#{$base64}) format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="simditor-icon-"], [class*=" simditor-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Simditor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  &:before {
    padding: 0 1px;
  }

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.simditor-icon-undo:before {
  content: "\e959";
}
.simditor-icon-redo:before {
  content: "\e954";
}
.simditor-icon-format-clear:before {
  content: "\e917";
}
.simditor-icon-format-paint:before {
  content: "\e92b";
}
.simditor-icon-headline:before {
  content: "\e92d";
}
.simditor-icon-type-size:before {
  content: "\e971";
}
.simditor-icon-bold:before {
  content: "\e914";
}
.simditor-icon-underline:before {
  content: "\e972";
}
.simditor-icon-italic:before {
  content: "\e931";
}
.simditor-icon-delete-line-text:before {
  content: "\e920";
}
.simditor-icon-type-color:before {
  content: "\e91a";
}
.simditor-icon-background-color:before {
  content: "\e913";
}
.simditor-icon-table:before {
  content: "\e92a";
}
.simditor-icon-picture:before {
  content: "\e948";
}
.simditor-icon-attach:before {
  content: "\e974";
}
.simditor-icon-cut-off-rule:before {
  content: "\e91f";
}
.simditor-icon-link:before {
  content: "\e935";
}
.simditor-icon-ordered-list:before {
  content: "\e943";
}
.simditor-icon-unordered-list:before {
  content: "\e973";
}
.simditor-icon-code:before {
  content: "\e919";
}
.simditor-icon-quote:before {
  content: "\e951";
}
.simditor-icon-align-center:before {
  content: "\e905";
}
.simditor-icon-align-right:before {
  content: "\e95a";
}
.simditor-icon-align-left:before {
  content: "\e933";
}
.simditor-icon-right-retraction:before {
  content: "\e95b";
}
.simditor-icon-left-retraction:before {
  content: "\e934";
}
.simditor-icon-line-height:before {
  content: "\e95d";
}
.simditor-icon-time-stamp:before {
  content: "\e970";
}
.simditor-icon-at:before {
  content: "\e912";
}
.simditor-icon-relevance:before {
  content: "\e955";
}
.simditor-icon-check-box:before {
  content: "\e916";
}
.simditor-icon-selected-mult:before {
  content: "\e961";
}